version: "3.8"
services:
  mysql:
    container_name: "mysql"
    image: mysql
    ports:
    - "3306:3306"
    networks:
    - expenses-app-nw
    volumes:
    - mysql-data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: Test@123
      MYSQL_DATABASE: devops
    restart: always
    healthcheck:
      test: ["CMD","mysqladmin","ping","-h","localhost","-uroot","-pTest@123"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 60s
      
 
  app:
    container_name: "expense-app"
    build:
      context: .
    ports:
    - "8080:8080"
    networks:
    - expenses-app-nw
    restart: always
    depends_on: 
    - mysql
    environment:
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_URL: "jdbc:mysql://mysql:3306/devops?allowPublicKeyRetrieval=true&useSSL=false"
      SPRING_DATASOURCE_PASSWORD: Test@123

volumes:
  mysql-data:
networks:
  expenses-app-nw:
